body {
  background-color: #ebf0d8;
}

.student-details {
    margin-top: 3%;
    margin-left: 3%;
}

.student-details h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #026670;
}

.student-card {
    background-color: #474e5d;
    margin-left: 15%;
	display: grid;
	grid-template-columns: 30% 70%;
	flex-flow: column;
    margin-top: 3%;
    width: 70vw;
    padding: 1%;
    border-radius: 10px;
}

#student-img {
    width: 20vw;
    border-radius: 10px;
}

#student-img:hover {
    box-shadow: 5px 5px 20px grey;
}

.details h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 150%;
}

.details p {
    margin-top: 4%;
    margin-left: 10%;
    color: white;
    font-size: 125%;
    line-height: 150%;
}

.details ul {
    margin-left: 18%;
    color: white;
    font-size: 125%;
}