.body {
    height: 100%;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav {
    height: 15%;
}

.content {
    padding: 0;
    height: 100%;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    justify-content: space-between;
}

.r {
    color: #ffffff;
}

.l{
    color: #fff;
}

.r>h1 {
    color: #fff;
}

.btn-group {
    list-style: none;
    text-align: center;
}

.btn-group>li {
    margin: auto;
    margin: 10% 0 15% 0;
}

.btn {
    height: 35px;
    width: 150px;
    padding: 8px;
    background-color: #026670;
    cursor: pointer;
    font-size: medium;
    border-radius: 5%;
    border: none;
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #026670;
}

.btn:hover a {
    color: #026670;
}

footer {
    clear: both;
    background-color: #9fedd7;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 1% 20% 1% 20%;
}

.copyright {
    padding-top: 2%;
    font-size: small;
    letter-spacing: 2px;
}