footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    background-color: #9fedd7;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 1% 20% 1% 20%;
}

.copyright {
    padding-top: 2%;
    font-size: small;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #026670;
    height: 15%;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;

}

.logo img {
    height: 8vh;
}

.logo h4 {
    margin-top: 12%;
    font-family: 'Abhaya Libre', serif;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    height: 35px;
    width: 150px;
    padding: 8px;
    background-color: #026670;
    cursor: pointer;
    font-size: medium;
    border-radius: 5%;
    border: none;
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #026670;
}

.btn:hover a {
    color: #026670;
}